{% load staticfiles %}

{% include 'inc/header.html' %}

	<div id="detail" class="page inner">

		{% include 'inc/nav.html' %}

		<div id="banner" role="banner" class="dark">
			<img id="video" src="{% static data.background_image %}" />
			<img id="fader" src="{% static 'assets/img/vid-spacer-fade.png' %}" />
			<div class="wrap group valign">
				<h1>{{ data.title|safe }}</h1>
			</div>
			<img id="spacer" src="{% static 'assets/img/vid-spacer.png' %}" />
		</div><!-- /#banner -->

		<div class="wedge-wrap"></div>

		<div id="main" role="main" class="overlay">

			<div id="intro" class="wrap group dark">
				<h2>About This Project</h2>
				<div>
					<ul id="anchors" class="dotless">
						<li><a href="#">Explore</a></li>
						<li><a href="#">Analyses</a></li>
						<li><a href="#">Tools</a></li>
						<li><a href="#">Publications</a></li>
						<li><a href="#">Upload</a></li>
					</ul>
						{{ data.desc|safe }}
				</div>
			</div><!-- /#intro -->

			<div class="wrap group">
				<div id="filter" class="filtering">
					<span>Explore:</span>
					<div>
						<a href="#" class="selected menu">All<i class="fa fa-bars"></i></a>
						<a href="#" class="moby">All</a>
						{% for type in explore_tiles_types %}
						<a href="#">{{ type.name }}</a>
						{% endfor %}
					</div>
				</div>
			</div><!-- /.wrap.group -->

			<div id="data" class="feature">

				<div class="hovercheck wrap">
					<div class="group">

						{% for explore_tile in explore_tiles %}
						<div class="grid-25 {% for type in explore_tile.types.all %}{{ type.name|lower }}{% endfor %}">
							<a href="{{ explore_tile.url }}">
								<img src="{% static explore_tile.image %}" alt="{{ explore_tile.title }}" />
								<span>
									<h5>{{ explore_tile.title }}</h5>
									<span class="on-hover">
										<p>{{ explore_tile.author }}</p>
										<ul>
											{% if explore_tile.modality %}
											<li><strong>Modality:</strong> {{ explore_tile.modality }}</li>
											{% endif %}
											{% if explore_tile.species %}
											<li><strong>Species:</strong> {{ explore_tile.species }}</li>
											{% endif %}
											{% if explore_tile.cuboids %}
											<li><strong>Cuboids:</strong> {{ explore_tile.cuboids }}</li>
											{% endif %}
											{% if explore_tile.cuboid_size %}
											<li><strong>Cuboid Size:</strong> {{ explore_tile.cuboid_size }}</li>
											{% endif %}
											{% if explore_tile.voxels %}
											<li><strong>Voxels:</strong> {{ explore_tile.voxels }}</li>
											{% endif %}
										</ul>
									</span>
								</span>
							</a>
						</div>
						{% endfor %}

					</div><!-- /.group -->
				</div><!-- /.wrap -->

				<!--div class="callout">
					<div class="wrap">
						<p>Explore the above information on the cloud, or feel free to <a href="#">download the project in it’s entirety</a> and work locally.</p>
					</div>
				</div--><!-- /.callout -->

				<div class="wrap group">
					<div class="like-filter" data-rel="analyses">
						<span>Analyses</span>
					</div>
				</div><!-- /.wrap.group -->

				<div class="hovercheck wrap">
					<div class="group">

						{% for tile in tiles %}
						{% for type in tile.types.all %}
						{% if type.name == 'analyses' %}
						<div class="grid-25">
							<a href="{{ tile.url }}">
								<img src="{% static tile.image %}" alt="{{ tile.title }}" />
								<span>
									<h5>{{ tile.title }}</h5>
									<span class="on-hover">
										<p>{{ tile.subtitle }}</p>
										{{ tile.desc|safe }}
									</span>
								</span>
							</a>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}

					</div><!-- /.group -->
				</div><!-- /.wrap -->

				<div class="wrap group">
					<div class="like-filter" data-rel="tools">
						<span>Tools</span>
					</div>
				</div><!-- /.wrap.group -->

				<div class="hovercheck wrap">
					<div class="group">

						{% for tile in tiles %}
						{% for type in tile.types.all %}
						{% if type.name == 'tools' %}
						<div class="grid-25">
							<a href="{{ tile.url }}">
								<img src="{% static tile.image %}" alt="{{ tile.title }}" />
								<span>
									<h5>{{ tile.title }}</h5>
									<span class="on-hover">
										<p>{{ tile.subtitle }}</p>
										{{ tile.desc|safe }}
									</span>
								</span>
							</a>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}

					</div><!-- /.group -->
				</div><!-- /.wrap -->

				<div class="wrap group">
					<div class="like-filter" data-rel="publications">
						<span>Publications</span>
					</div>
				</div><!-- /.wrap.group -->

				<div class="hovercheck wrap">
					<div class="group">

						{% for tile in tiles %}
						{% for type in tile.types.all %}
						{% if type.name == 'publications' %}
						<div class="grid-25">
							<a href="{{ tile.url }}">
								<img src="{% static tile.image %}" alt="{{ tile.title }}" />
								<span>
									<h5>{{ tile.title }}</h5>
									<span class="on-hover">
										<p>{{ tile.subtitle }}</p>
										{{ tile.desc|safe }}
									</span>
								</span>
							</a>
						</div>
						{% endif %}
						{% endfor %}
						{% endfor %}

					</div><!-- /.group -->
				</div><!-- /.wrap -->

			</div><!-- /#data -->

		</div><!-- /#main -->

		<div id="inner-bottom" data-rel="upload">
			<div class="wrap group dark">
				<div class="grid-6">
					<h2>Contribute to this Project</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<div>
						<a href="#" class="button">Images</a>
						<a href="#" class="button">Shapes</a>
						<a href="#" class="button">Time</a>
						<a href="#" class="button">Matrices</a>
						<a href="#" class="button">Graphs</a>
						<a href="#" class="button">Analyses</a>
					</div>
				</div>
			</div><!-- /.wrap.group -->
		</div><!-- /#inner-bottom -->

	</div><!-- /#detail.page.inner -->

{% include 'inc/footer.html' %}
