{% load staticfiles %}

{% include 'inc/header.html' %}

<!--
	.wrap sets a width of 1280px and a max-width of 94%
	.group clears all floats
-->

<div id="alert">
	<ul class="wrap">
		<li>See our live demo of <a href="http://scienceinthe.cloud">Science in the Cloud</a></li>
		<li>Join us for our <a href="http://www.stat.ucla.edu/~akfletcher/brainsbits.html">Brains and Bits NIPS Workshop</a></li>
		<li>See our <a href="http://docs.neurodata.io/ndintro">Intro Slides</a></li>
	</ul>
</div>

	<div id="home" class="page">

		{% include 'inc/nav.html' %}

		<div id="banner" role="banner" class="dark">
			<video autoplay muted preload loop width="640" height="360" id="video">
				<source src="{% static 'assets/video/NeurodataIntroVideo.mp4' %}"type="video/mp4" />
				<source src="{% static 'assets/video/NeurodataIntroVideo.webm' %}"type="video/webm" />
				<source src="{% static 'assets/video/NeurodataIntroVideo.ogv' %}"type="video/ogg" />
			</video>
			<img id="fader" src="{% static 'assets/img/vid-spacer-fade.png' %}" />
			<div class="wrap group valign">
				<h1>Enabling Terascale Data Driven Brain Science for Everyone</h1>
			</div>
			<img id="spacer" src="{% static 'assets/img/vid-spacer.png' %}" />
		</div><!-- /#banner -->

		<div class="wedge-wrap"></div>

		<div id="main" role="main" class="overlay">

			<div id="intro" class="wrap group dark">
				<div class="center text">
					<h2>Why Neurodata?</h2>
					<p>The revolution in neuroscientific data acquisition is creating an analysis
challenge. We leverage cloud-computing technologies to enable large-scale
neurodata storing, exploring, analyzing, and modeling, empowering
scientists globally to generate and test theories of brain function and
dysfunction.</p>
					<a href="about/" class="button">Read More</a>
				</div><!-- /.wrap.group -->
			</div><!-- /#intro -->



			<div id="midriff">
				<div class="wrap group dark">
					<div>
						 <h2> Spotlight</h2>
					</div>
					<div class="grid-3 fitvids center" style="margin-right:1px" >
						<div>
							<br /> <h5>Visit us at SfN</h5>
								<p class="text">
										Swing by our booth (find us on the floor plan at booth 4126) to learn what we're all about and start collaborating!
										<br/>
										<a href="https://www.sfn.org/Annual-Meeting/Neuroscience-2016/Exhibits/2016-Exhibit-Space-Sales/Floor-Plan" class="button">Find us</a>
								</p>
						</div>
					</div>
					<div class="grid-3 fitvids center" style="margin-left:1px">
						<div>
							<br/>
							<h5>To The Cloud!</h5>
								<p class="text">
										Check out our recent NeuroView for our platform for globalization and accessibility in modern Neuroscience!
										<br/>
					      <a href="http://www.cell.com/neuron/fulltext/S0896-6273(16)30783-8" class="button">Read More</a>
								</p>
						</div>
					</div>
				</div><!-- /.wrap -->
			</div><!----><!-- /#midriff -->

			<div id="data" class="feature dark">
				<div class="mask"></div>
				<h2 class="wrap">Featured Data</h2>

				<div class="hovercheck wrap">
					<div class="group">
						{% for data_project in data_projects %}
						<div class="grid-25">
							<a href="{% url 'dataPage' data_project.dataProject.token %}"></a>
							<div><img src="{% static data_project.dataProject.list_image_src %}" alt="{{ data_project.dataProject.title }}" />
							<span><h5>{{ data_project.dataProject.title }}</h5></span></div>
							</div>
							{% endfor %}
						<div class="grid-25 view-all">
							<a href="{% url 'dataHome' %}"></a>
							<div>
								<img src="http://placehold.it/640x427" alt="" />
								<span>
									<h5>View all Data &gt;</h5>
								</span>
							</div>
						</div>
					</div><!-- /.group -->
					<div class="group">
						<h2 class="wrap">Featured Tools</h2>
						{% for featuredTool in featuredTools %}
						<div class="grid-25">
							<a href="{% url 'toolPage' featuredTool.tool.token %}"></a>
							<div><img src="{% static featuredTool.tool.list_image_src %}" alt="{{ featuredTool.tool.longname }}" />
							<span><h5>{{ featuredTool.tool.shortname }}</h5></span></div>
							</div>
							{% endfor %}
						<div class="grid-25 view-all">
							<a href="{% url 'toolsHome' %}"></a>
							<div>
								<img src="http://placehold.it/640x427" alt="" />
								<span>
									<h5>View all Tools &gt;</h5>
								</span>
							</div>
						</div>
					</div><!-- /.group -->

				</div><!-- /.wrap -->
			</div><!-- /#data -->

			<div id="bottom" class="group dark">
				<div class="grid-3 no-margin">
					<span><img class="grey" src="{% static randomPerson.image_src %}" alt="{{ person.name }}" /></span>
					<div class="copy">
						<h3>Meet Our Team</h3>
						<p><strong>{{ randomPerson.name }}</strong></p>
						<p class="mbot"><em>{{ randomPerson.position }}</em><p>
						<!-- <p>'+teamObj.data[ran_key]['bio']+'<p -->
						<!--a href="/people/" class="button">Learn more</a -->
						<a href="{% url 'peopleHome' %}" class="button hollow">View all</a>
					</div>
				</div>
				<div class="grid-3 no-margin">
					<h3>Community Involvement</h3>
					<p></p>
					<a href="#" class="button">Contribute Findings</a>
				</div>
			</div><!-- /#bottom.group -->

		</div><!-- /#main -->

	</div><!-- /#home.page -->

{% include 'inc/footer.html' %}
