{% load staticfiles %}

{% include 'inc/header.html' %}

	<div id="all-tools" class="page inner">

		{% include 'inc/nav.html' %}

		<div id="banner" role="banner" class="dark">
			<img id="video" src="{% static tool.header_image_src %}" />
			<img id="fader" src="{% static '/assets/img/vid-spacer-fade.png' %}" />
			<div class="wrap group valign">
				<h1>{{ tool.longname }}</h1>
			</div>
			<img id="spacer" src="{% static '/assets/img/vid-spacer.png' %}" />
		</div>

		<!-- <img class="wedge" src="/assets/img/wedge-down.svg" /> -->
		<div class="wedge-wrap"></div>

		<div id="main" role="main" class="overlay">
			<div id="intro" class="wrap group dark text">
				<h2>{{ tool.short_description }}</h2>
				<div>
					<ul id="anchors" class="dotless">
						{% if tool.api_text %}
						<li><a href="#" target="_blank"><i class="fa fa-gear"></i><span><span>API</span></span></a></li>
						{% endif %}
						{% if tool.code_text %}
						<li><a href="#" target="_blank"><i class="fa fa-code"></i><span><span>Code</span></span></a></li>
						{% endif %}
						{% if tool.doc_text %}
						<li><a href="#" target="_blank"><i class="fa fa-file-text-o"></i><span><span>Documentation</span></span></a></li>
						{% endif %}
						{% if tool.ref_text %}
						<li><a href="#" target="_blank"><i class="fa fa-book"></i><span><span>References</span></span></a></li>
						{% endif %}
						{% if tool.press_text %}
						<li><a href="#" target="_blank"><i class="fa fa-newspaper-o"></i><span><span>Press</span></span></a></li>
						{% endif %}
						{% if tool.contributing_text %}
						<li><a href="#" target="_blank"><i class="fa fa-user"></i><span><span>Contribute</span></span></a></li>
						{% endif %}
					</ul>
					{% if tool.long_description %}{{ tool.long_description|safe }}{% endif %}
				</div>
			</div>
			{% if tool.api_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="api">
								<span>API</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.api_text|safe }}
				</div>
				{% endif %}
			</div>
			{% if tool.code_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="code">
								<span>Code</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.code_text|safe }}
				</div>
			</div>
			{% endif %}
			{% if tool.doc_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="documentation">
								<span>Documentation</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.doc_text|safe }}
				</div>
			</div>
			{% endif %}
			{% if tool.ref_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="references">
								<span>References</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.ref_text|safe }}
				</div>
			</div>
			{% endif %}
			{% if tool.press_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="press">
								<span>Press</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.press_text|safe }}
				</div>
			</div>
			{% endif %}
			{% if tool.contributing_text %}
			<div class="wrap group">
				<div class="like-filter" data-rel="contribute">
								<span>Contribute</span>
				</div>
				<div class="wrap group dark text">
					{{ tool.contributing_text|safe }}
				</div>
			</div>
			{% endif %}
		</div>
	</div>

{% include 'inc/footer.html' %}
