{% load staticfiles %}

	<footer class="dark">
		<div class="wrap group">
			<ul>
				<li><a href="#">Terms &amp; Privacy Policy</a></li>
				<li class="clear"><a href="https://www.jhu.edu">Johns Hopkins University</a></li>
				<li><a href="http://www.kavlifoundation.org">Kavli</a></li>
				<li><a href="mailto:info@neurodata.io">Contact Us</a></li>
			</ul>
			<p>&copy; Neurodata {% now "Y" %}</p>
		</div>
	</footer>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js?ver=1.0.6"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.fitvids.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/jquery.hoverIntent.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
  <!--[if gt IE 8]><!-->
	<script type="text/javascript" src="{% static 'assets/js/modernizr.3.3.1.min.js' %}"></script>
  <!--<![endif]-->
</body>
</html>
